nav {
margin: 10px;
top: 0px;
position: fixed;
margin-bottom: 50px;
}
main {
    position: fixed;
    min-height: 100vh;
    margin-top: 150px;
    margin-left: 25em;
}

.center {
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: flex-start;
  }

#google-logo {
    width: 272px;
}


.search-bar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    margin-top: 15em;
}
button{
    background: rgb(221, 221, 221);
    padding: 5px 10px;
    display: inline-block;
    margin-top: 25px;
    
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;  
    background-color: rgb(221, 221, 221);
    color: #222;
    border-top: 1px solid #e4e4e4;
}