nav {
margin: 10px;
top: 0px;
position: fixed;
}
main {
    position: relative;
    min-height: 100vh;
}

.center {
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: flex-start;
  }
#Google-Logo {
    max-width: 272px;
}


.search-bar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
button{
    background: rgb(221, 221, 221);
    padding: 5px 10px;
    display: inline;
    margin-top: 25px;
    margin-left: 5em;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;  
    background-color: rgb(221, 221, 221);
    color: #222;
    border-top: 1px solid #e4e4e4;
}